// html,
// body {
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.dfc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dfjc {
  display: flex;
  justify-content: center;
}
.dfac {
  display: flex;
  align-items: center;
}
